<!DOCTYPE html>
<html>
  <head>
    <title>TestTecnical</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="p-3 mb-2 bg-dark text-white ">
    <ul class="nav justify-content-end">
    <%- if user_signed_in? %>   
      <li class="nav-item">
        <%= link_to 'Salir', destroy_user_session_path, method: :delete, class:'text-white' %>
      </li>
    <% else %>
      <li class="nav-item btn btn-light">
        <%= link_to 'Iniciar', new_user_session_path, class:'text-dark' %>
      </li>
      &nbsp
      <li class="nav-item btn btn-light">
        <%= link_to 'Registrarme', new_user_registration_path, class:'text-dark' %>
      </li>
    <% end %>
    </ul>
  </div>
  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </body>
</html>
